div#content {
	position: relative;
	overflow: hidden;
	height: 700px;
}

div#outerSlider {
  position: absolute;
}

div#outerSlider > div {
  position: relative;
  float: left;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
